* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-image: url("lestijärvi.jpg");
}

.container {
  width: 500px;
  padding: 10px;
  border-radius: 25px;
  background: rgb(236, 242, 243);
}

header {
  color: brown;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.container section {
  font-size: 25px;
  font-weight: bold;
  margin: 25px;
}

.enter-input input {
  padding: 5px;
  background: lightgrey;
  width: 300px;
  font-size: 25px;
  height: 30px;
  border-radius: 5px;
}

.enter-input button {
  width: 100px;
  font-size: 25px;
  height: 40px;
  border-radius: 5px;
}

.display {
  width: 400px;
  text-align: center;
  margin: 10px;
  padding: 40px 0px;
  font-size: 20px;
  background: rgb(157, 227, 255);
  border-radius: 10px;
}
