* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-image: url("lestijärvi.jpg");
}

.container {
  width: 500px;
  padding: 10px;
  border-radius: 25px;
  background: #ECF0F1;
}

.container header {
  display: flex;
  color: #3498DB;
  font-size: 30px;
  align-items: center;
}
.material-icons-outlined {
  font-size: 0px;
  cursor: pointer;
}

.container.active .material-icons-outlined{
  font-size: 60px;
  text-align: left;
  margin-left: -12px;
}

.container section {
  font-size: 25px;
  font-weight: bold;
  margin: 25px;
}

.container.active .enter-input {
  display: none;
}
.enter-input input {
  padding: 5px;
  background: #D0D3D4;
  width: 300px;
  font-size: 25px;
  height: 30px;
  border-radius: 5px;
}

.enter-input button {
  width: 100px;
  font-size: 25px;
  height: 40px;
  border-radius: 5px;
}

.container .weather-display {
  display: none;
  width: auto;
  text-align: center;
  justify-content: center;
  margin: 10px;
  padding: 40px 0;
  font-size: 20px;
  background: #AED6F1;
  border-radius: 10px;
}

.container.active .weather-display{
  display: flex;
}