* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #0d3962, #f79d65);
}

/* Set container styles */
.container {
  width: 500px;
  padding: 20px;
  border-radius: 15px;
  background-color: #ecf0f1;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-box input {
  width: 80%;
  font-size: 22px;
  color: black;
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px 15px;
}

.input-box button {
  width: 65px;
  height: 45px;
  background-color: lightblue;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.input-box button:hover {
  color: white;
  background-color: dodgerblue;
}

.weather-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
}

.weather-body img {
  width: 40%;
}

.weather-box {
  margin: 10px;
  text-align: center;
}

.weather-box .temperature {
  font-size: 30px;
  font-weight: 700;
}

.weather-box .description {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.humidity,
.wind {
  display: flex;
  align-items: center;
}

.humidity {
  margin-left: 25px;
}

.wind {
  margin-right: 25px;
}

.weather-info span {
  font-size: 36px;
}

.weather-info .text {
  margin-left: 8px;
  font-size: 18px;
}

.text p {
  font-size: 20px;
  font-weight: 700;
}
